.menu-bar {
  position: relative;
  /* width: 80vw; */
  margin: 0 auto;
  background: var(--primary-color); 
  backdrop-filter: blur(10px);
}

.menu-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: left;
}

.menu-bar ul li {
  padding: 0px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0.3em 0.5em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.menu-bar ul li:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05); /* Slight scale-up effect */
  transition: all 0.3s ease-in-out;
  color: var(--text-hover);
}