body {
  background-image:  url('/public/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  min-height: 100vh;
  max-height: 100%;
  box-sizing: border-box; 
  overflow: auto; 
  padding-bottom: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
